textarea {
  resize: none;
}

.form-container {
  margin-top: 18px;
  padding: 15px;
}

.form-container .mat-form-field {
  margin-right: 15px;
}

.mat-form-field {
  width: 200px;
}

.example-spacer {
	flex: 1 1 auto;
}

.action-toolbar .mat-toolbar {
	height: 50px;
}

pre {
	font-size: 0.8em;
	font-style: italic;
	height: 200px;
	overflow: auto;
	padding: 10px;
	margin-top: 18px;
}
