<mt-single-full
	[formTitle]="formTitle"
	[VM]="VM"
	[formStatus]="frmStatus"></mt-single-full>
<!-- Form -->
<form #frm="ngForm" (change)="formStatus(frm)">
	<div class="form-container mat-elevation-z5">
		<mt-input-text
			class="mat-form-field"
			[label]="'Category Name'"
			[placeHolder]="'Enter the category name'"
			[(ngModel)]="VM.model && VM.model.CategoryName"
			name="categoryName"
			[required]="true">
		</mt-input-text>
		<mt-input-text
			class="mat-form-field"
			style="width: 400px"
			[label]="'Description'"
			[placeHolder]="'Enter the description'"
			[(ngModel)]="VM.model && VM.model.Description"
			name="description"
			[required]="true">
		</mt-input-text>
	</div>
</form>
<!-- Form -->
